name: 'IndexNow Weekly'
on:
  schedule:
    - cron: '0 3 * * 1'  # Runs weekly on Mondays morning at 03:00 UTC
  workflow_dispatch:
    inputs:
      since-unit:
        type: choice
        description: 'The unit of time to report updates since'
        required: true
        default: year
        options:
          - week
          - month
          - year

jobs:
  check-and-submit:
    runs-on: ubuntu-latest
    steps:
 
      - id: indexnow
        name: Report Updates to IndexNow
        uses: bojieyang/indexnow-action@cd6d1576582c1839b80dd71f418f172aa40d6552 # v2
        with:
          sitemap-location: 'https://daily-devops.net/sitemap.xml'
          key: ${{ secrets.INDEXNOW_KEY }}
          key-location: 'https://daily-devops.net/indexnow.txt'
          since: 2
          since-unit: ${{ inputs.since-unit || 'week' }}
          failure-strategy: 'error'
